@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FAF9F6;
  --foreground: #634133;
  --accent: #800020;
  --secondary: #9C9C9C;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #FAF9F6;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

body > * {
  @apply opacity-0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body#main-page {
  @apply mt-20 flex flex-col justify-end items-center justify-items-center min-h-screen;
  @apply text-lg;
  @apply p-8 pb-20 sm:p-20;
  @apply font-[family-name:var(--font-rubik)];
}

body#main-page > * {
  @apply opacity-100;
}

.garment-img {
  @apply flex items-center justify-center flex-1;
  @apply text-slate-400 font-medium w-auto;
  @apply max-w-fit max-h-[60vh] bg-[var(--secondary)] rounded-2xl m-6;
  margin-top: -2rem;
}

.garment-img.empty {
  @apply px-6 py-4 min-w-[60%] bg-[var(--accent)];
  @apply text-[var(--background)];
  background-color: var(--foreground);
}

.prompt {
  @apply flex items-center gap-2 w-auto mt-6;
  margin-bottom: 1.5rem
}

.prompt-input {
  @apply w-auto px-3 py-2
  @apply bg-[var(--background)] text-[var(--foreground)] placeholder-[var(--secondary)];
  @apply rounded-md border-2 border-[var(--foreground)];
}

.prompt-input:focus {
  @apply border-[var(--accent)] shadow-lg;
}

.btn-collection {
  @apply px-4 py-2;
  @apply text-[var(--foreground)] font-medium bg-[var(--background)];
  @apply border-2 border-[var(--foreground)] rounded-md mr-6;
  transition: all 0.3s ease;
}
.btn-collection:hover {
  @apply bg-[var(--accent)] text-[var(--foreground)];
  @apply border-[var(--accent)] transform translate-y-[-3px];
}

.btn-prompt-generate {
  @apply px-4 py-2;
  @apply font-medium bg-green-300 text-green-900;w
  @apply rounded-md whitespace-nowrap;
}

.header {
  @apply flex justify-between items-center w-full p-4;
  @apply bg-[var(--background)];
  @apply border-b-2 border-[var(--foreground)];
  @apply fixed top-0 left-0 z-50;
}

.title {
  @apply text-2xl font-bold text-[var(--foreground)];
  @apply pl-4;
}

.auth-buttons {
  @apply flex gap-4;
}

.btn-login {
  @apply px-4 py-2;
  @apply font-medium text-[var(--foreground)] bg-[var(--background)];
  @apply border-2 border-[var(--foreground)] rounded-md;
  transition: all 0.3s ease;
}

.btn-login:hover {
  @apply bg-[var(--accent)] text-[var(--foreground)];
  @apply border-[var(--accent)] transform translate-y-[-3px];
}