:root {
  --background-main: 32deg 100% 97%;
  --background-alt: 26deg 53% 94%;
  --foreground: 9deg 100% 10%;
  --primary: 14deg 100% 25%;
  --secondary: 9deg 10% 60%;
  --accent: 30deg 55% 85%;

  /* TODO: dynamically generate in components */
  --disabled-darkest: 25deg 10% 50%;
  --disabled-darker: 25deg 10% 55%;
  --disabled-dark: 25deg 10% 60%;
  --disabled-light: 25deg 20% 75%;
  --disabled-lighter: 25deg 30% 85%;
  --disabled-lightest: 25deg 100% 95%;

  --primary-darkest: 14deg 100% 15%;
  --primary-darker: 14deg 100% 25%;
  --primary-dark: 14deg 60% 50%;
  --primary-light: 14deg 100% 75%;
  --primary-lighter: 14deg 100% 80%;
  --primary-lightest: 14deg 100% 95%;

  --primary-active-fill: 14deg 100% 90%;

  --primary-input-text: 14deg 100% 10%;
  --primary-input-placeholder: 14deg 55% 45%;
}

@media (prefers-color-scheme: dark) {
  /* TODO: support for dark mode */
}
