@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  svg * {
    @apply pointer-events-none;
  }

  ul {
    @apply list-disc list-outside p-[inherit];
  }

  * {
    @apply select-none;
  }
}

/* ====================== Overlay Scrollbar ====================== */

.os-scrollbar {
  --scrollbar-end-padding: 0.5rem;
  --scrollbar-track-padding: 0.3rem;
  --scrollbar-width: 0.9rem;

  @apply !transition-all !duration-100 !ease-in-out;
  @apply !cursor-default;
}
.os-scrollbar.os-scrollbar-vertical {
  @apply px-[--scrollbar-track-padding] py-[--scrollbar-end-padding];
  @apply w-[--scrollbar-width];
}
.os-scrollbar.os-scrollbar-horizontal {
  @apply px-[--scrollbar-end-padding] py-[--scrollbar-track-padding];
  @apply h-[--scrollbar-width];
  @apply mb-[0.1rem];
}

.os-scrollbar:has(:hover) {
  --scrollbar-track-padding: 0.25rem;
  --scrollbar-width: 1rem;
}

.os-scrollbar-handle {
  @apply !bg-primary-darker/50;
  @apply [transition:inherit];
}
.os-scrollbar:has(:hover) .os-scrollbar-handle {
  @apply !bg-primary-darker/65;
}
.os-scrollbar:has(:active) .os-scrollbar-handle {
  @apply !bg-primary-darker;
}

.os-scrollbar:not(:has(.os-scrollbar-handle:hover))
  .os-scrollbar-track:hover:not(:active) {
  @apply !bg-primary-dark/35;
  @apply delay-200;
}
.os-scrollbar:not(:has(.os-scrollbar-handle:hover)) .os-scrollbar-track:active {
  @apply !bg-primary-dark/50;
}

/* =========================== Tooltip =========================== */

.tooltip {
  --tooltip-bg: hsl(var(--primary-darkest));
  --tooltip-text: hsl(var(--primary-lightest));
  --tooltip-border: hsl(var(--primary-dark));
  --tooltip-x-pad: 0.8rem;
  --tooltip-y-pad: 0.4rem;
  --tooltip-radius: 0.6rem;

  --arrow-half-width: 0.5rem;
  --arrow-height: 0.5rem;
  --arrow-padding: 0.4rem;

  --arrow-wrapper-width: calc(
    2 * var(--arrow-half-width) + 2 * var(--arrow-padding)
  );

  @apply !bg-[--tooltip-bg] !text-[--tooltip-text];
  @apply !rounded-[--tooltip-radius];
  @apply !outline !outline-[--tooltip-border];
  @apply ![outline-width:0.25rem] !-outline-offset-[0.25rem];
}

.tooltip .tippy-content {
  @apply px-[--tooltip-x-pad] py-[--tooltip-y-pad];
  @apply font-[450] text-[1rem];
}

.tooltip[data-placement^="top"] .tippy-arrow,
.tooltip[data-placement^="bottom"] .tippy-arrow {
  @apply !px-[--arrow-padding];
  @apply w-[--arrow-wrapper-width];
}
.tooltip[data-placement^="left"] .tippy-arrow,
.tooltip[data-placement^="right"] .tippy-arrow {
  @apply !py-[--arrow-padding];
  @apply h-[--arrow-wrapper-width];
}

.tooltip .tippy-arrow:before {
  @apply !border-transparent;
}
.tooltip[data-placement^="top"] .tippy-arrow:before,
.tooltip[data-placement^="bottom"] .tippy-arrow:before {
  @apply ![border-left-width:--arrow-half-width];
  @apply ![border-right-width:--arrow-half-width];
  @apply !left-1/2 !-translate-x-1/2;
}
.tooltip[data-placement^="left"] .tippy-arrow:before,
.tooltip[data-placement^="right"] .tippy-arrow:before {
  @apply ![border-top-width:--arrow-half-width];
  @apply ![border-bottom-width:--arrow-half-width];
  @apply !top-1/2 !-translate-y-1/2;
}
.tooltip[data-placement^="top"] .tippy-arrow:before {
  @apply ![border-top-width:--arrow-height];
  @apply ![border-bottom-width:0px];
  @apply !border-t-[--tooltip-border];
}
.tooltip[data-placement^="bottom"] .tippy-arrow:before {
  @apply ![border-top-width:0px];
  @apply ![border-bottom-width:--arrow-height];
  @apply !border-b-[--tooltip-border];
}
.tooltip[data-placement^="left"] .tippy-arrow:before {
  @apply ![border-left-width:--arrow-height];
  @apply ![border-right-width:0px];
  @apply !border-l-[--tooltip-border];
}
.tooltip[data-placement^="right"] .tippy-arrow:before {
  @apply ![border-left-width:0px];
  @apply ![border-right-width:--arrow-height];
  @apply !border-r-[--tooltip-border];
}

/* ======================= Modal Instances ======================= */

.delete-item [data-overlayscrollbars-viewport],
.rename-item [data-overlayscrollbars-viewport] {
  @apply text-[1.1rem] font-[450];
  @apply !w-[30rem];
}

.rename-item [data-overlayscrollbars-viewport] {
  @apply flex flex-col gap-[0.5rem];
}

.confirm-delete-msg {
  @apply flex justify-center items-center;
  @apply text-[1.3rem] text-primary-darkest font-medium;
  @apply py-[0.2rem] mb-[0.6rem] gap-[0.5rem];
  @apply rounded-[0.6rem];
  @apply bg-primary-light;
}
