@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* ====================== Overlay Scrollbar ====================== */

.os-scrollbar {
  --scrollbar-end-padding: 0.5rem;
  --scrollbar-track-padding: 0.3rem;
  --scrollbar-width: 0.9rem;

  @apply !transition-all !duration-100 !ease-in-out;
}
.os-scrollbar.os-scrollbar-vertical {
  @apply px-[--scrollbar-track-padding] py-[--scrollbar-end-padding];
  @apply w-[--scrollbar-width];
}
.os-scrollbar.os-scrollbar-horizontal {
  @apply px-[--scrollbar-end-padding] py-[--scrollbar-track-padding];
  @apply h-[--scrollbar-width];
  @apply mb-[0.1rem];
}
.os-scrollbar:has(:hover) {
  --scrollbar-track-padding: 0.25rem;
  --scrollbar-width: 1rem;
}

.os-scrollbar-handle {
  @apply !bg-primary-darker/50;
  @apply [transition:inherit];
}
.os-scrollbar:has(:hover) .os-scrollbar-handle {
  @apply !bg-primary-darker/65;
}
.os-scrollbar:has(:active) .os-scrollbar-handle {
  @apply !bg-primary-darker;
}

/* HEADER */

.header {
  @apply w-full;
  @apply p-4;
  @apply bg-background-main;
  @apply flex justify-between items-center;
  @apply outline outline-[0.4rem] outline-background-alt;
  @apply border-b-[0.15rem] border-secondary;
  @apply fixed top-0 left-0 z-10;
}

.header .title {
  @apply text-2xl font-bold text-foreground;
  @apply justify-center;
}

.auth-buttons {
  @apply flex gap-4;
}

.btn-login {
  @apply px-4 py-2;
  @apply font-medium text-foreground bg-background-main;
  @apply border-2 border-foreground rounded-md;
  transition: all 0.3s ease;
}

.btn-login:hover {
  @apply bg-primary text-foreground;
  @apply border-primary transform translate-y-[-3px];
}

body#collection-page .collection-grid {
  @apply flex flex-wrap gap-[1rem];
}

body#collection-page .collection-grid > * {
  @apply max-w-[calc(25%-1rem*(3/4))];
}

/* LOGIN */

.login-wrapper {
  @apply flex items-center justify-center h-screen bg-transparent;
}

.login-container {
  @apply bg-white p-6 rounded-xl shadow-lg;
  @apply w-[22rem] flex flex-col items-center gap-4;
}

button[type="submit"] {
  @apply px-2 py-1 font-medium text-gray-800 bg-white;
  @apply border-2 border-gray-300 rounded-md;
  @apply transition-all cursor-pointer;
}

button[type="submit"]:hover {
  @apply bg-blue-100 text-gray-800 border-blue-300 transform translate-y-[-2px];
}

.sign-up-prompt {
  @apply flex items-center gap-2 mt-4;
}

.btn-signup {
  @apply px-2 py-1 font-medium text-white bg-blue-500;
  @apply border-2 border-blue-500 rounded-md;
  @apply transition-all cursor-pointer;
}

.btn-signup:hover {
  @apply bg-blue-600 border-blue-600 shadow-lg shadow-blue-300;
  transform: translateY(-2px);
}

/* SIDEMENU */

.side-menu {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100%;
  background-color: #faf9f6;
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
}

/* Open State */
.side-menu.open {
  transform: translateX(300px);
}

/* Closed State */
.side-menu.closed {
  transform: translateX(0);
}
