body {
  @apply h-screen overflow-hidden contain-paint;
  @apply text-[1rem] font-[family-name:--font-rubik];
  @apply text-foreground;
}

body::before {
  --fabric-tile: url("../assets/fabric-bg.svg");

  @apply content-[""];
  @apply absolute inset-x-0 inset-y-0 w-full h-full;
  @apply bg-repeat bg-[image:--fabric-tile] bg-[size:64px] bg-center;
}

body #__next {
  @apply opacity-0;
  @apply flex flex-col items-center justify-center;
  @apply overflow-hidden;
  @apply h-full;
}
body[id] #__next {
  @apply transition-opacity duration-100 delay-100;
  @apply opacity-100;
}

/* ========================= Root Layout ========================= */

/* Header */

.app-header {
  @apply w-full h-[4.4rem];
  @apply bg-background-main;
  @apply flex justify-between items-center;
  @apply outline outline-[0.4rem] outline-background-alt;
  @apply border-b-[0.15rem] border-secondary;
  @apply p-[0.7rem] gap-[0.5rem];
  @apply relative z-20;
}

.app-header .title-link {
  @apply min-w-0 mx-auto;
}
.app-header .title-link.back {
  @apply ml-0;
}

@screen sm {
  .app-header .title-link:not(.back) {
    @apply absolute top-1/2 left-1/2;
    @apply -translate-x-1/2 -translate-y-1/2;
    @apply h-[3rem];
  }
}

@screen max-sm {
  .app-header .action-button {
    @apply -ml-[3rem] -mr-[0.5rem];
  }

  .app-header .title-link {
    @apply ml-0;
  }
}

.app-header .title-link span:not(:has(svg)) {
  @apply font-bold !text-foreground;
}
.app-header .title-link.back span:not(:has(svg)) {
  @apply !pl-0 !pr-[0.6rem];
}

.app-header .title-link.back svg {
  @apply !stroke-[2.8];
}

.app-header .action-button {
  @apply w-auto h-full aspect-square;
  @apply transition-all duration-150 ease-in-out;
}

.app-header .action-button svg {
  @apply !stroke-[1.9];
}

.root-container {
  --sidebar-width: 15rem;

  @apply w-full h-auto flex flex-1;
  @apply transition-transform duration-300 ease-in-out;
  @apply overflow-hidden;
  @apply z-10;
}

/* Side Bar */

.sidebar {
  @apply flex flex-col shrink-0;
  @apply w-[--sidebar-width] h-full;
  @apply p-[1rem] gap-[0.8rem];
  @apply transition-all duration-300 ease-in-out;
  @apply border-r-[0.3rem] border-r-background-alt;
  @apply bg-background-main;
  @apply overflow-hidden;
}

.sidebar span.header {
  @apply flex flex-col content-center;
  @apply text-[1.5rem] text-foreground font-semibold;
  @apply text-center;
}

.sidebar .collection-list {
  @apply !-mx-[0.7rem];
}

.sidebar .collection-list > [data-overlayscrollbars-contents] {
  @apply flex flex-col gap-[0.9rem];
  @apply !px-[1rem] !py-[0.7rem];
}

.sidebar .stitch-open {
  @apply !-mt-[0.2rem] !-mb-[0.9rem];
  @apply z-10;
}

.sidebar .stitch-close {
  @apply !-mt-[0.9rem] !mb-[0.5rem];
  @apply z-10;
}

.sidebar.open {
  @apply ml-0;
}

.sidebar.closed {
  @apply -ml-[--sidebar-width];
  @apply invisible;
}

/* Page Content */

.page-content,
.page-content > [data-overlayscrollbars-contents] > * {
  @apply flex;
  @apply w-full h-full;
  @apply relative;
}

.page-content,
.page-content > [data-overlayscrollbars-contents] {
  @apply max-w-full max-h-full;
}

.page-content > [data-overlayscrollbars-contents] > * {
  @apply min-h-max;
  @apply p-[1rem];
}

/* ========================== Home Page ========================== */

body#home .create-layout {
  @apply flex-col justify-end items-center;
  @apply min-w-max;
}

.garment-img {
  @apply flex flex-1 items-center justify-center;
  @apply text-slate-400 font-medium w-auto;
  @apply max-w-fit max-h-[60vh];
  @apply rounded-2xl m-6 mt-[-2rem];
  @apply bg-accent;
}

.garment-img.empty {
  @apply px-[1.5rem] py-[1rem] min-w-[60%];
  @apply text-primary;
}

.prompt {
  @apply flex items-end justify-between;
  @apply p-[1.5rem] gap-[0.5rem];
  @apply w-[90%] min-w-fit;
}

.prompt-input {
  @apply min-w-[20rem];
}

.prompt-input,
.edit-input {
  @apply flex-grow;
}

/* ======================== Collection Page ======================== */

body#collection-page .collection-grid {
  --num-cols: 1;
  --grid-cols: repeat(var(--num-cols), 10rem);
  --grid-side-pad: calc(1rem + var(--sidebar-width) / 2);

  @apply grid grid-cols-[--grid-cols] justify-center;
  @apply px-[--grid-side-pad] gap-[1.4rem] gap-y-[1.1rem];
  @apply transition-all duration-300 ease-in-out;
}
body#collection-page:has(.sidebar.open) .collection-grid {
  --grid-side-pad: 1rem;
}

/* ========================== Log In Page ========================== */

.login-wrapper {
  @apply flex items-center justify-center h-screen bg-transparent;
}

.login-container {
  @apply bg-white p-6 rounded-xl shadow-lg;
  @apply w-[22rem] flex flex-col items-center gap-4;
}

button[type="submit"] {
  @apply px-2 py-1 font-medium text-gray-800 bg-white;
  @apply border-2 border-gray-300 rounded-md;
  @apply transition-all cursor-pointer;
}

button[type="submit"]:hover {
  @apply bg-blue-100 text-gray-800 border-blue-300 transform translate-y-[-2px];
}

/* ========================== Sign Up Page ========================== */

.sign-up-prompt {
  @apply flex items-center gap-2 mt-4;
}

.btn-signup {
  @apply px-2 py-1 font-medium text-white bg-blue-500;
  @apply border-2 border-blue-500 rounded-md;
  @apply transition-all cursor-pointer;
}

.btn-signup:hover {
  @apply bg-blue-600 border-blue-600 shadow-lg shadow-blue-300;
  transform: translateY(-2px);
}
