body {
  @apply h-screen overflow-hidden contain-paint;
  @apply text-[1rem] font-[family-name:--font-rubik];
  @apply text-foreground;
}

body::before {
  --fabric-tile: url("../assets/fabric-bg.svg");

  @apply content-[""];
  @apply absolute inset-x-0 inset-y-0 w-full h-full;
  @apply bg-repeat bg-[image:--fabric-tile] bg-[size:64px] bg-center;
}

body #__next {
  @apply opacity-0;
  @apply flex flex-col items-center justify-center;
  @apply overflow-hidden;
  @apply h-full;
}
body[id] #__next {
  @apply transition-opacity duration-100 delay-100;
  @apply opacity-100;
}
body.will-unload #__next {
  @apply duration-[50ms];
  @apply !opacity-0;
}

/* ========================= Root Layout ========================= */

/* Header */

.app-header {
  @apply w-full h-[4.4rem];
  @apply bg-background-main;
  @apply flex justify-between items-center;
  @apply outline outline-[0.4rem] outline-background-alt;
  @apply border-b-[0.15rem] border-secondary;
  @apply p-[0.7rem] gap-[0.5rem];
  @apply relative z-20;
}

.app-header .title-link {
  @apply min-w-0 mx-auto;
}
.app-header .title-link.back {
  @apply ml-0;
}

.app-header .title-link span:not(:has(svg)) {
  @apply font-bold !text-foreground;
}
.app-header .title-link.back span:not(:has(svg)) {
  @apply !pl-0 !pr-[0.6rem];
}

.app-header .title-link.back svg {
  @apply !stroke-[2.8];
}

.app-header .action-button {
  @apply w-auto h-full aspect-square;
  @apply transition-all duration-150 ease-in-out;
}

.app-header .action-button svg {
  @apply !stroke-[1.9];
}

@keyframes fade-in {
  0% {
    @apply opacity-0;
  }
  100% {
    @apply opacity-100;
  }
}

.app-header .user-pfp,
.app-header .sign-in {
  @apply animate-[fade-in_200ms_ease];
}

.pfp-image {
  @apply shrink-0;
  @apply aspect-square rounded-full;
  @apply overflow-hidden;
}

.root-container {
  --sidebar-width: 15rem;

  @apply w-full h-auto flex flex-1;
  @apply transition-transform duration-300 ease-in-out;
  @apply overflow-hidden;
  @apply z-10;
}

/* Side Bar */

.sidebar {
  @apply flex flex-col shrink-0;
  @apply w-[--sidebar-width] h-full;
  @apply p-[1rem] gap-[0.8rem];
  @apply transition-all duration-300 ease-in-out;
  @apply border-r-[0.3rem] border-r-background-alt;
  @apply bg-background-main;
  @apply overflow-hidden;
}
.sidebar.open {
  @apply ml-0;
}
.sidebar.closed {
  @apply -ml-[--sidebar-width];
}

.sidebar span.header {
  @apply flex flex-col content-center;
  @apply text-[1.5rem] text-foreground font-semibold;
  @apply text-center;
}

.sidebar .collection-list {
  @apply !-mx-[0.7rem];
}

.sidebar .collection-list > [data-overlayscrollbars-contents] {
  @apply flex flex-col gap-[0.9rem];
  @apply !px-[1rem] !py-[0.7rem];
}

.sidebar .stitch-open {
  @apply !-mt-[0.2rem] !-mb-[0.9rem];
  @apply z-10;
}

.sidebar .stitch-close {
  @apply !-mt-[0.9rem] !mb-[0.5rem];
  @apply z-10;
}

/* Page Content */

.page-content,
.page-content > [data-overlayscrollbars-contents] > * {
  @apply flex;
  @apply w-full h-full;
  @apply relative;
}

.page-content,
.page-content > [data-overlayscrollbars-contents] {
  @apply max-w-full max-h-full;
}

.page-content > [data-overlayscrollbars-contents] > * {
  @apply min-h-max;
  @apply p-[1.5rem];
}

/* Breakpoints */

@media screen(sm) {
  .app-header .title-link:not(.back) {
    @apply absolute top-1/2 left-1/2;
    @apply -translate-x-1/2 -translate-y-1/2;
    @apply h-[3rem];
  }
}

@media screen(max-sm) {
  .app-header .action-button {
    @apply -ml-[3rem] -mr-[0.5rem];
    @apply invisible;
  }

  .app-header .title-link {
    @apply ml-0;
  }
}

/* ========================== Create Page ========================== */

body#create .create-layout {
  @apply flex-col justify-end items-center;
  @apply py-[2.5rem] gap-[2.5rem];
  @apply min-w-max;
}

body#create .garment-img {
  @apply flex flex-1 items-center justify-center;
  @apply h-full w-auto aspect-square min-h-[15rem] max-h-[30rem];
  @apply text-primary font-medium;
  @apply p-[1.5rem] rounded-[1rem] my-auto;
  @apply overflow-hidden;
  @apply bg-background-main;
  @apply border-[0.25rem] border-background-alt;
}

body#create .garment-placeholder {
  @apply grid grid-cols-2;
  @apply h-full w-full;
  @apply -translate-x-[3%];
}

body#create .garment-icon {
  @apply h-full w-auto aspect-square;
  @apply stroke-[0.6rem];
}
body#create .garment-icon.shirt {
  @apply -translate-x-[60%] translate-y-[25%] scale-[1.2];
  @apply text-accent;
}
body#create .garment-icon.hanger {
  @apply translate-x-[85%] translate-y-[55%];
  @apply -scale-x-[1.2] scale-y-[1.2];
  @apply text-primary-light;
  @apply z-10;
}
body#create .garment-icon.rack {
  @apply translate-x-[15%] -translate-y-[35%] scale-[1.3];
  @apply text-primary-dark;
}

body#create .garment-icon path {
  @apply [vector-effect:non-scaling-stroke];
}

body#create .prompt {
  @apply flex items-end justify-between;
  @apply w-full min-w-fit max-w-[85vw];
  @apply px-[0.5rem] gap-[0.5rem];
}

body#create .prompt-input {
  @apply min-w-[20rem];
}
body#create .prompt-input,
body#create .edit-input {
  @apply flex-grow;
}

/* Breakpoints */

@media screen(max-sm) {
  body#create .garment-icon {
    @apply stroke-[0.4rem];
  }
}

/* ========================== Editor Page ========================== */

body#edit .edit-layout {
  @apply min-w-min gap-[1rem];
}

body#edit .garment-preview {
  @apply flex flex-col justify-center;
  @apply mx-auto gap-[0.5rem];
  @apply min-h-fit max-w-min;
}

body#edit .puppet-box {
  --scale: 0.9;
  --root-unit: min(
    calc(var(--scale) * 40vh / 500),
    calc(var(--scale) * 1rem / 30)
  );

  --size: calc(var(--root-unit) * 950);

  @apply flex box-content;
  @apply h-[--size] w-[--size] aspect-square;
  @apply border-[0.2rem] border-accent;
  @apply rounded-[1rem];
  @apply bg-background-main;
  @apply transition-opacity duration-200 ease-in-out;
}

body#edit .puppet > svg path:not([style*="fill: none"]),
body#edit .puppet > svg line:not([style*="fill: none"]),
body#edit .puppet > svg rect:not([style*="fill: none"]),
body#edit .puppet > svg circle:not([style*="fill: none"]),
body#edit .puppet > svg ellipse:not([style*="fill: none"]),
body#edit .puppet > svg polygon:not([style*="fill: none"]),
body#edit .puppet > svg polyline:not([style*="fill: none"]) {
  @apply !fill-[inherit];
  @apply !stroke-[inherit];
}

body#edit .spec-editor {
  @apply relative;
  @apply flex flex-col;
  @apply w-[min(50vw,25rem)] bg-primary-lightest;
  @apply border-primary-light/50 border-[0.18rem];
  @apply p-[0.5rem] rounded-[1rem];
}

body#edit .spec-editor header {
  @apply flex justify-between items-center;
  @apply text-[1.5rem] font-medium text-primary-darkest;
  @apply px-[1rem] py-[0.5rem];
}

body#edit .spec-editor header .pin {
  @apply w-auto h-[1.5rem] aspect-square;
  @apply border-[0.25rem] border-primary-darkest;
  @apply rounded-[1rem];
  @apply bg-gradient-[160deg];
  @apply from-primary-lighter from-50%;
  @apply to-primary-dark to-50%;
}

body#edit .spec-editor .scroll-list {
  @apply flex flex-col gap-[0.5rem];
  @apply px-[1rem] pb-[1.5rem];
}
body#edit .spec-editor[inert] header,
body#edit .spec-editor[inert] .scroll-list {
  @apply opacity-60;
}

body#edit .spec-editor header,
body#edit .spec-editor .scroll-list {
  @apply transition-all duration-150 ease-in-out;
}

body#edit .spec-editor .border-stitch {
  @apply -m-[0.5rem] p-[0.5rem];
  @apply z-10;
}

body#edit .spec-editor .border-stitch-path {
  @apply [rx:0.4rem];
  @apply stroke-primary-dark/80;
}

/* ======================== Collection Page ======================== */

body#collection-page .collection-grid {
  --num-cols: 1;
  --grid-cols: repeat(var(--num-cols), 10rem);
  --grid-side-pad: calc(1.5rem + var(--sidebar-width) / 2);

  @apply grid justify-center h-auto;
  @apply grid-cols-[--grid-cols] grid-rows-[min-content];
  @apply px-[--grid-side-pad] gap-[1.4rem] gap-y-[1.1rem];
  @apply transition-all duration-300 ease-in-out;
}
body#collection-page:has(.sidebar.open) .collection-grid {
  --grid-side-pad: 1.5rem;
}

/* ======================= Modal Instances ======================= */

.move-garment [data-overlayscrollbars-viewport],
.rename-item [data-overlayscrollbars-viewport],
.delete-item [data-overlayscrollbars-viewport] {
  @apply text-[1.1rem] font-[450];
  @apply !w-[30rem];
}

.move-garment [data-overlayscrollbars-viewport],
.rename-item [data-overlayscrollbars-viewport] {
  @apply flex flex-col gap-[0.5rem];
}

.profile-modal [data-overlayscrollbars-viewport] {
  @apply flex flex-col gap-[1rem];
  @apply text-[1.2rem] font-[450];
  @apply !w-[24rem];
}

.confirm-delete-msg {
  @apply flex justify-center items-center;
  @apply text-[1.3rem] text-primary-darkest font-medium;
  @apply py-[0.2rem] mb-[0.6rem] gap-[0.5rem];
  @apply rounded-[0.6rem];
  @apply bg-primary-light;
}

.item-rename-field,
.collection-select-field {
  @apply mx-[0.7rem];
}

.new-collection .name,
.prev-collection .name {
  @apply flex grow justify-between;
  @apply gap-[0.2rem] ml-[0.5rem];
  @apply text-primary-darker font-semibold;
}

.name .num-items {
  @apply flex gap-[0.2rem];
}
[class*="option"] > .num-items {
  @apply flex gap-[0.2rem];
  @apply text-primary-dark;
}
[class*="option"][class*="selected"] > .num-items {
  @apply !text-primary-lightest;
}

[class*="option"]:active > .num-items,
[class*="option"][class*="clicked"] > .num-items {
  @apply text-primary-darker/70;
}

.profile-modal .profile-summary {
  @apply flex shrink-0 gap-[0.8rem];
  @apply overflow-hidden;
}

.profile-modal .pfp-wrapper {
  @apply relative;
  @apply p-[0.2rem];
}

.profile-modal .pfp-image {
  @apply min-w-[5rem] min-h-[5rem];
}
.profile-modal .pfp-image.blank {
  @apply stroke-[1.2] scale-[1.2];
}

.profile-modal .auth-provider-icon {
  @apply absolute bottom-0 right-0;
  @apply p-[0.2rem] rounded-full;
  @apply h-[1.8rem] w-auto aspect-square;
  @apply bg-primary-lightest;
  @apply text-primary;
  @apply !outline-none;
}

.profile-modal .profile-info {
  @apply flex flex-col;
  @apply my-[0.3rem];
  @apply overflow-hidden;
}

.profile-modal .profile-info * {
  @apply overflow-hidden whitespace-nowrap text-ellipsis;
}
