.modal-overlay {
  @apply fixed inset-0 z-50;
  @apply bg-background-alt/60;
  @apply font-[family-name:--font-rubik];
}

.modal-patch {
  --modal-depth: 0.3rem;
  --modal-border-pad: 1rem;
  --modal-border-width: 0.2rem;
  --modal-content-radius: 0.4rem;
  --modal-content-pad: 0.5rem;
  --modal-root-depth: calc(var(--modal-border-width) + var(--modal-depth));

  --modal-border-radius: calc(
    var(--modal-content-radius) + var(--modal-border-pad)
  );

  --modal-patch-radius: calc(
    var(--modal-border-radius) + var(--modal-border-width)
  );

  @apply absolute;
  @apply rounded-[--modal-patch-radius];
  @apply p-[--modal-border-width] pb-[--modal-root-depth];
  @apply bg-primary-darkest;

  /* padding-bottom: var(--modal-shadow-offset); */
  /* height: fit-content; */
  /* max-height: var(--modal-max-height); */
  /* width: var(--modal-width); */
  /* max-width: calc(100vw - 2 * 2.6rem); */
}

.modal-border {
  @apply rounded-[--modal-border-radius];
  @apply bg-primary-light;
  @apply overflow-hidden;
  @apply relative;
}

.modal-patch svg.stitch-wrapper {
  @apply p-[--modal-border-pad] inset-0;
}
.modal-patch svg.stitch-wrapper rect.stitches {
  @apply [rx:--modal-content-radius];
  @apply stroke-primary-dark;
}

.modal-content {
  @apply rounded-[--modal-content-radius];
  @apply m-[--modal-border-pad];
  @apply p-[--modal-content-pad];
  @apply bg-primary-lightest;
  @apply overflow-hidden;
}

.modal-header {
  @apply flex items-center gap-[0.2rem];
  @apply p-[0.3rem];
  @apply overflow-hidden;
}

.modal-header .title {
  @apply text-[1.8rem] font-medium;
  @apply px-[0.3rem];
  @apply text-ellipsis whitespace-nowrap overflow-hidden;
}

.modal-header .close-btn {
  @apply h-[2.4rem] w-[2.5rem];
}

/* ========================= Transitions ========================= */

.modal-overlay {
  @apply transition-opacity duration-200 ease-in-out;
  @apply opacity-0;
}
.modal-overlay.after-open {
  @apply opacity-100;
}
.modal-overlay.before-close {
  @apply opacity-0;
}

.modal-patch {
  @apply transition-all duration-500 ease-in-modal;
  @apply top-full left-1/2 -translate-x-1/2 -translate-y-1/2;
}
.modal-overlay.after-open .modal-patch {
  @apply top-1/2;
}
.modal-overlay.before-close .modal-patch {
  @apply ease-out-modal;
  @apply top-full;
}

/* 

Could be used for modal anchored to top left

@media screen(md) {
  .modal-patch {
    @apply !top-[1rem] -left-[1rem] -translate-x-full translate-y-0;
  }
  .modal-overlay.after-open .modal-patch {
    @apply left-[1rem] translate-x-0;
  }
  .modal-overlay.before-close .modal-patch {
    @apply -left-[1rem] -translate-x-full;
  }
} 
  
*/
