.shirt-puppet {
  --main-color: theme(colors.teal.200);
  --main-outline: theme(colors.teal.500);
  --neck-color: theme(colors.cyan.700);
  --neck-outline: theme(colors.cyan.900);
  --sleeve-color: theme(colors.teal.200);
  --sleeve-outline: theme(colors.teal.500);

  --x-pad: calc(var(--root-unit) * 285);

  @apply flex relative;
  @apply h-fit w-max;
  @apply mx-[--x-pad] my-auto;
  @apply transition-[inherit];
}

.shirt-puppet .shirt {
  --width: calc(var(--root-unit) * 380);

  @apply w-[--width] h-fit;
  @apply z-10;
}

.shirt-puppet .sleeve {
  --width: calc(var(--root-unit) * 120);
  --x-offset: calc(var(--root-unit) * 20);
  --y-offset: calc(var(--root-unit) * 58);

  @apply origin-top;
  @apply absolute top-[--y-offset];
  @apply w-[--width];
}
.shirt-puppet .sleeve.left {
  @apply -left-[--x-offset];
  @apply rotate-[30deg];
}
.shirt-puppet .sleeve.right {
  @apply -right-[--x-offset];
  @apply -rotate-[30deg];
  @apply -scale-x-100;
}
.shirt-puppet .sleeve.SvgSleeveless {
  --width: calc(var(--root-unit) * 52);
  --x-offset: 0px;
  --y-offset: calc(var(--root-unit) * 50);

  @apply !rotate-0;
  @apply z-20;
}

.shirt-puppet .neck {
  --width: calc(var(--root-unit) * 250);
  --y-offset: calc(var(--root-unit) * 68);

  @apply absolute left-1/2 -top-[--y-offset];
  @apply -translate-x-1/2;
  @apply w-[--width];
  @apply z-20;
}

.shirt-puppet .shirt {
  @apply fill-[--main-color];
  @apply stroke-[--main-outline];
}
.shirt-puppet .neck {
  @apply fill-[--neck-color];
  @apply stroke-[--neck-outline];
}
.shirt-puppet .sleeve {
  @apply fill-[--sleeve-color];
  @apply stroke-[--sleeve-outline];
}
.shirt-puppet .sleeve.SvgSleeveless {
  @apply fill-[--main-color];
  @apply stroke-[--main-outline];
}
